* {
    box-sizing: border-box;
  }
  
  body {
    background-color: rgb(38, 61, 72);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 400px;
  }
  
  .square {
    background-color: #7e4545;
    box-shadow: 0 0 2px #000;
    height: 18px;
    width: 18px;
    margin: 2px;
    transition: 2s ease;
    border-radius: 50%;
  }
  
  .square:hover {
    transition-duration: 0s;
  }